body {
    /* Texten for hele siden */
    font-family: 'Georgia', serif; /* Font generell tekst */
    background-color: #f8f9fa; /* Bakgrunnsfarge på hele siden (body) */
    color: #202122; /* Farge på generell tekst */
    margin: 10px; /* Avstand mellom toppen og bunnen av siden og body containeren */
    padding: 0px; /* Padding mellom body containeren og resten av siden */
}

#content {
    /* Container for hele siden */
    max-width: 1000px; /* Max bredde for body containeren */
    margin: 0 auto; /* Avstand mellom toppen og bunnen av siden og body containeren*/
    padding-left: 20px; /* Mellomrom  venstre mellom border og elementer i body containeren */
    padding-right: 20px; /* Mellomrom høyre mellom border og elementer i body containeren */
    padding-bottom: 20px; /* Mellomrom bunnen mellom border og elementer i body containeren */
    background-color: #ffffff; /* Farge på bakrunnen */
    border: 1px solid #a2a9b1; /* Farge på body containeren */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow til bodycontaineren */
}

/* Ingen funksjon, men kan bli brukt som base for bilder
.figure {
    display: block;
    max-width: 2050px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    unicode-bidi: isolate;
}
*/

h1,
h2,
h3 {
    /* Farge på overskrift 1,2 og 3 */
    color: #222222;
}

h1 {
    /* Egne ting for overskrift h1 */
    font-size: 2em; /* Font størrelsen på h1, overskrift type 1 (Brawl Stars Norge Wiki) */
    border-bottom: 1px solid #a2a9b1; /* Streken under overskrift type 1 */
    padding-bottom: 0.3em; /* Meellomrommet mellom overskriften og streken under */
}

h2 {
    /* Egne ting for overskrift h2 */
    font-size: 1.5em; /* Font størrelsen på overskrift type 2 (Bakgrunn etc) */
    border-bottom: 1px solid #a2a9b1; /* Streken under overskrift type 2 */
    padding-bottom: 0.3em; /* Mellomrommet mellom overskriften og streken under */
    margin-top: 1em; /* Mellomrommet mellom teksten i overskriften og det som ligger over */
}

.strekstopp {
    max-width: 715px;
}

h3 {
    /* Egne ting for overskrift h3 */
    font-size: 1.2em; /* Font størrelse på overskrift type 3 */
    margin-top: 1em;
}

p {
    line-height: 1.6;
    margin: 1em 0;
}

a {
    /* Skrift a (clickable links i teksten) */
    color: #0645ad;
    text-decoration: none;
}

a:hover {
    /* Hva som skjer om man hovrer over a teksten */
    text-decoration: underline;
}

#toc {
    /* Table of contents, innholdsfortegnelsen */
    border: 1px solid #a2a9b1;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 20px 0;
    margin-right: 30%;
}

#toc h2 {
    /* Overskrift h2 (Contents) i table of contents */
    font-size: 1.2em;
    margin-top: 0;
}

#toc ul {
    /* body skriften i table of contents */
    list-style-type: none;
    padding-left: 0;
}

.responsive-bsnorge {
    /* BS norge logo i venstre hjørne */
    width: 100%;
    height: auto;
    max-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.infobox {
    /* Containeren til infoboksen */
    width: 250px;
    border: 1px solid #a2a9b1;
    background-color: #f9f9f9;
    padding: 10px;
    float: right;
    margin: 0 0 10px 10px;
}

.infobox-title {
    /* IGN i boks */
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    background-color: #f2f2f2;
    padding: 5px;
    margin-bottom: 10px;
}

.infobox-title .subtitle {
    /* Ekte navn på personen */
    font-size: 0.7em;
    display: block;
    margin-top: 10px;
}

.infobox img {
    /* Bilde i infoboksen */
    width: 100%;
    height: auto;
    border: 1px solid #a2a9b1;
    margin-bottom: 10px;
}

.infobox table {
    /* Infobox tabell */
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
}

.infobox td {
    /* Tekst data i infobokstabell (liten tekst)*/
    padding: 3px;
    vertical-align: top;
}

.infobox th {
    /* Header tekst i infobokstabell */
    text-align: left;
    padding: 3px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #a2a9b1;
}

.picture {
    /* Selve det vanlige bildet */
    width: 100%;
    max-width: 250px;
    height: auto;
}

.picture textpicture {
    padding: 3px;
    vertical-align: top;
}

.caption {
    /* Caption til det vanlige bildet */
    font-size: 0.8em;
    text-align: center;
    margin-top: 5px;
    /* Space between image and caption */
}

.figure-container {
    /* Boksen rundt vanlig bilde til høyre */
    border: 1px solid #a2a9b1;
    background-color: #f2f2f2;
    ;
    padding: 5px;
    float: right;
    margin: 0 0 10px 10px;
    text-align: center;
}

.indented {
    text-indent: 2em;
    /* Adjust the value as needed */
    margin-bottom: auto;
    margin-top: auto;
}

.bsprofil {
    /* Selve bildet til bsprofil  */
    width: 100%;
    max-width: 450px;
    height: auto;
}

.bsprofil textpicture {
    padding: 3px;
    vertical-align: top;
}

.bsprofil-container {
    /* Boksen runt bs profilbildet */
    border: 1px solid #a2a9b1;
    background-color: #f2f2f2;
    ;
    padding: 5px;
    margin: 0 0 0px 0px;
    text-align: center;
    height: 340px;
    width: 450px;
}

.bsprofil-caption {
    /* Tekst på bsprofilbildet i boksen */
    font-size: 0.8em;

    text-align: center;
    margin-top: 5px;
    /* Space between image and caption */
    margin-bottom: 5px;
}

table {
    /* Tabell */
    table-layout: fixed;
    width: 50%;
    margin-bottom: 10px;
    border-collapse: collapse;
}

.lysoppcelle:hover { 
    /* Lys opp  type th celle når man hover over dem */
    background-color: #40424423;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(0, 0, 0, 0.315);
}

.type2 th,
.type2 td {
    /* Type 2 tabell th og td */
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.type2 th {
    /* Type 2 tabell th bakgrunn */
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    /* Annenhver farge i boksene i tabellen */
    background-color: #f9f9f9;
}

tr:hover {
    /* Annenhver farge i boksene i tabellen */
    background-color: #f1f1f1;
}

.table-container {
    display: flex;
    gap: 20px;
    /* Space between tables */

}

/* copy */

/*

▲
▼

*/